*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --bg-main: #FFFFFF;
    --bg-button: #0061FF;
    --bg-footer: #000000;
    --bg-header: #B4D0E7;
    --align-text: #0000EE;
    --bg-square1: #A2D39B;
    --bg-square2: #610C30;
    --br-square3: #0093CE;
    --br-square4: #FF1C1C;
    --bg-big-square: #F5F5F5;
    --bg-square5: #D5001F;
    --bg-square6: #B4D0E7;
    --bg-square7: #0D2481;
    --bg-square8: #FFD830;
    --color-footer-end: #999999;
}

html{
  scroll-behavior: smooth;
}

.debug{
  border: 1px solid red;
}

.d-flex{
  display: flex;
  flex-flow: row wrap;
}

.d-flex-row{
  display: flex;
  flex-direction: row;
}

.wrap{
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}

.space-center{
  justify-content: center;
}

.align-content{
  align-content: center;
}

.align-center{
  align-items: center;
}

.content-start{
  align-content: flex-start;
}

.gap{gap}

.align{
    align-items: center;
    align-content: center;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.container-small{
  max-width: 1000px;
  margin: 0 auto;
    padding: 10px;
}

body{
  background-color: var(--bg-main);
  font-family: 'Open sans', sans-serif;
}

.mb-100{
  margin-bottom: 100px;
}

.button{
  background-color: var(--bg-button);
  color: var(--bg-main);
  text-decoration: none;
  padding: 10px 20px;
}

.button-white{
  background-color: var(--bg-main);
  color: var(--bg-footer);
}

.button-border{
  border: 1px solid var(--bg-footer);
}
img{
  width: 100%;
}

/* HEADER */

header{
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: var(--bg-main);
  color: var(--bg-footer);
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid lightgray;
}

.margin-nav{
  margin-top: 20px;
}

.img-nav{
  width: 150px;
}

nav li{
  padding: 0 15px;
}

/* MAIN */

main{
  padding-top: 80px;
}

h1{font-size: 5em;}

/* hero */
#hero ,#free{
  background-color: var(--bg-header);
}

.left{
  width: 30%;
}

.right{width: 70%;}

.p-bottom{
  padding-bottom: 50px;
}

.p-top{
  padding-top: 50px;
}

.arrow{
  font-size: 3em;
  color: var(--bg-footer);
}

/* plans */

.plan-option li{
  margin: 10px 0px;
}

.options{
  padding: 30px 0px;
}

.bar{
  width: 40px;
  height: 1px;
  background-color: lightgray;
  position: left;
}

.plan-option{
  align-items: stretch;
  width: calc(90% / 3);
  padding: 20px;
  border: 1px solid lightgray;
}
.plan-option-title{
  width: calc(90% / 3);
  text-align: center;
  border: 1px solid lightgray;
  border-bottom: none;
}

.plan-bottom {
  padding-bottom: 30px;
}

.plan-bottom-few{
  padding-bottom: 10px
}

.plan-top{
  padding-top: 30px;
}

.fa-solid.fa-check {
  color: var(--bg-button);
}

/* clients + logos */

#free h2{
  color: var(--bg-square2);
}

/* footer */

footer{
  background-color: var(--bg-footer);
  color: var(--bg-main);
}

ul{
  list-style: none;
  text-decoration: none;
}

#list a{
  color: var(--bg-main);
  text-decoration: none;
}

#language{
  color: var(--color-footer-end);
}
